body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
  margin: 0;
}

.seleJuego-container {
  background-color: #fff;
  padding: 30px 40px;
  border: 3rem solid #E6F4EA;
  text-align: center;
  width: 50rem;
  height: 30rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-titulo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.logo-titulo img {
  width: 60px;
  height: 80px;
  margin-right: 20px;
}

.logo-titulo h2 {
  font-size: 24px;
}

.botones-juegos {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;

  align-items: center;
  justify-content: center;
}

.botones-juegos button,
.salir-btn {
  font-size: 16px;
  height: 2.5rem;
  width: 10rem;
  border-radius: 8px;
  border: none;
  background-color: #007BFF;
  color: white;
}

.salir-btn {
  background-color: #dc3545;
  height: 3rem;
  width: 8rem;
}


  