<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Ranking</title>
  <link rel="stylesheet" href="ranking.css" />
</head>
<body>
  <div class="ranking-container">
    <img src="../../services/img/logo2.png" class="logo" alt="logo" />

    <h1 class="titulo">Ranking #1</h1>

    <div id="ranking-list"></div>

    <button class="btn-regresar">Regresar</button>
  </div>

  <script type="module" src="ranking.js"></script>
</body>
</html>
