.felicitacion-container {
  background-color: white;
  border: 25px solid rgb(222, 242, 250);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 15px;
  text-align: center;
}

.logo-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.logo-felicitacion {
  width: 100px;
  height: auto;
}

.regresar-btn {
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.regresar-btn:hover {
  background-color: #c82333;
}

.content-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.img-premio {
  width: 200px;
  height: auto;
  margin-bottom: 1rem;
}

.titulo-felicitacion {
  font-size: 32px;
  color: #ffd700; /* Dorado para primer lugar */
  margin-bottom: 1rem;
}

.subtitulo-felicitacion {
  font-size: 24px;
  color: #333;
}